.button {
  border: none;
  outline: 0;
  margin-top:  5px; 
  padding: 12px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
}

/*------------------------login ---------------------*/

.b{
color: #FF8333;
text-align: center;
padding: 30px;
text-decoration: none;
}
.login{
padding-top:  10px;
}
.p{
padding-top: 10px;
color: red;
padding-left: 390px;
margin-bottom:0px; 
}

/*------------------------signup --------------------------*/
.error{
	
	color: red;
}
p{
	
	text-align: center;
	
}
.form{
	padding-top: 80px;
}